.App {
  text-align: center;
  max-width: 800px;
  margin: 20px auto 0;
  padding: 20px;
}

.App-header {
  margin-bottom: 20px;
}

.App-header h1 {
  color: #333;
}

.App-footer {
  margin-top: 40px;
  color: #666;
  font-size: 0.8rem;
}
